In [11]:
import yfinance as yf
import numpy as np
import pandas as pd
import pandas_market_calendars as mcal

In [2]:
aapl = yf.download(tickers='AAPL', start='2020-01-01', end='2023-01-01')

[*********************100%***********************]  1 of 1 completed

In [4]:
aapl.describe()

,Open,High,Low,Close,Adj Close,Volume
count,756.000000,756.000000,756.000000,756.000000,756.000000,7.560000e+02
mean,130.231998,131.892775,128.614983,130.311812,129.286406,1.120919e+08
std,30.596429,30.841435,30.287325,30.566496,30.815528,5.602592e+07
min,57.020000,57.125000,53.152500,56.092499,55.082977,3.519590e+07
25%,115.924374,117.275000,114.129997,115.739374,114.169506,7.636470e+07
50%,135.794998,137.200005,133.750000,135.379997,134.733742,9.493580e+07
75%,150.259998,151.902504,149.029995,150.704998,150.141518,1.296327e+08
max,182.630005,182.940002,179.119995,182.009995,180.959732,4.265100e+08

In [15]:
nyse_trading_days = mcal.get_calendar('NYSE')
nyse_schedule = nyse_trading_days.schedule(start_date='2020-01-01', end_date='2023-01-01')
nyse_schedule

                         market_open              market_close
2020-01-02 2020-01-02 14:30:00+00:00 2020-01-02 21:00:00+00:00
2020-01-03 2020-01-03 14:30:00+00:00 2020-01-03 21:00:00+00:00
2020-01-06 2020-01-06 14:30:00+00:00 2020-01-06 21:00:00+00:00
2020-01-07 2020-01-07 14:30:00+00:00 2020-01-07 21:00:00+00:00
2020-01-08 2020-01-08 14:30:00+00:00 2020-01-08 21:00:00+00:00
...                              ...                       ...
2022-12-23 2022-12-23 14:30:00+00:00 2022-12-23 21:00:00+00:00
2022-12-27 2022-12-27 14:30:00+00:00 2022-12-27 21:00:00+00:00
2022-12-28 2022-12-28 14:30:00+00:00 2022-12-28 21:00:00+00:00
2022-12-29 2022-12-29 14:30:00+00:00 2022-12-29 21:00:00+00:00
2022-12-30 2022-12-30 14:30:00+00:00 2022-12-30 21:00:00+00:00

[756 rows x 2 columns]

# Data Processing

In [5]:
aapl.isna().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [6]:
aapl.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [ ]:
def moving_avg(df):
    """ 
    
    """